@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablets: 768px até 1024px
Desktop: 1024px até 1440px
Grandes telas: acima de 1440px
*/

@media screen and (max-width: 875px) {
    header {
        padding: 0px;
        padding-top: 40px;
    }

    header > h1 {
        margin-bottom: 40px;
    }

    header > nav#itens {
        flex-flow: column;
    }

    header > nav#itens > a {
        margin: 0px;
        border-radius: 0px;
        border: 1px solid;
    }
}

/*Config. para menu tipo hamburger*/
@media screen and (min-width: 875px) {
    header > span#icone {
        display: none;
    }
}